* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: monospace;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(21, 9, 134);
}
.container
{
position: relative;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
gap: 30px;
background-color:  rgb(8, 8, 167);
padding: 50px 40px;
}
h2
{
    font-size: 3em;
    color: #a09494;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}
.reset
{
    padding: 15px 20px;
    color: blue;
    border: none;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 600;
}
.reset:focus
{
    color: rgb(235, 235, 241);
    background: rgb(35, 35, 202);
}
.game
{
   width: 430px;
   height: 430px; 
   display: flex;
   flex-wrap: wrap;
   gap: 10px;
   transform-style: preserve-3d;
   perspective: 500px;
}
.item
{
    position: relative;
    width: 100px;
    height: 100px;
}
.item
{
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    background: white;
    transition: 0.25s;
}
.item.boxOpen
{
    transform: rotateY(0deg);
}
.item::after
{
    content: '';
    position: absolute;
    inset: 0;
    background: blue;
    transition: 1s;
    transform: rotateY(0deg);
    backface-visibility: hidden;
}
.boxOpen:after,
.boxMatch:after
{
    transform: rotateY(180deg);

}